<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Context -->

	<security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled"/>

	<!-- Security -->

	<bean id="userDetailsService" class="org.springframework.security.provisioning.InMemoryUserDetailsManager" autowire="byName">
		<constructor-arg>
			<props>
				<prop key="christian">fa9a020bcd41881e8b3d05ad44b0a2d6,gurke,tomate</prop>
				<prop key="stephan">stephanPW,gurke</prop>
			</props>
		</constructor-arg>
	</bean>
	<bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource" p:userPropertyToUse="username"/>
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
	<bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider" p:passwordEncoder-ref="passwordEncoder" p:saltSource-ref="saltSource" p:userDetailsService-ref="userDetailsService" />

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="authenticationProvider"/>
	</security:authentication-manager>

	<security:http>
		<security:http-basic/>
		<security:logout invalidate-session="true"/>
	</security:http>

</beans>
